@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*, *::after, *::before{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    width: 100%;
}

canvas{
    opacity: 0.5;
    background-color: rgba(22, 201, 22, 0.4);
}

.body, .canvas_container{
    width: 100%;
    border: solid 1px rgb(146, 144, 144);
    height: 100vh;
    position: absolute;

}

.body{
    z-index: 2;
}

.body>div{
    width: 400px;
    height: 300px;
    background-color: blue;
    margin-top: 500px;
}

.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

