@media screen and (max-width: 768px) {
    
    .page{
        margin: 0;
    }

    header{
        margin: 20px 10px 0px 10px;
    }

    .responsive-hidden{
        display: block;
    }

    .white-line-responsive{
        display: block;
    }

   .logo{
    margin: 0px 0px 10px ;
    padding-left: 0;
   }

    .nav_top{
        display: none;
    }

    .container {
        flex-wrap: wrap;
    }

   .container main {
        width:calc(80% - 15px);
        margin: 5px 5px 10px 5px;
    }

    .nav_left {
        width: 20%;
        margin: 5px 0px 10px 5px;
        padding: 10px;
    }

    .nav_left ul {
        text-align: left;
        display: inline-block;
        margin-top: 20px;
        padding-left: 0;
    }

    .nav_left ul li a{
        font-size: 11px;
        font-weight: 700;
        text-decoration: none;
        display: block; 
        color: white;
        margin: 5px;
        padding: 10px 0;
    }

    .asignatura{
        font-size: 15px;
        margin-left: 8px;
    }

    .container main img {
        display: none;
    }

    .box-video{
        flex-direction:column-reverse;
        align-items: stretch;
        margin-bottom: 20px;
    }
    
    .left-video{
        width: 100%;
        height: 60%;
        object-fit: contain;
        margin-top: 30px;
        margin-right: 20px;
      }
    
    
    .right-text-video{
        width: 100%;
        text-align: left;
    
    }

    aside {
        width: 100%;
    }

    footer div a {
        padding: 15px 10px;
    }
 
	
}

@media all and (min-width: 769px) {
    #events, #news {
        visibility:hidden
    }
}
 