/*

  @media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    .nav_top{
        display: none;
    }
    .nav_top.active{
        display: block;
        width: 100%;
    }
    .nav_top.active ul{
        display: block;  
    }
    .nav_top.active ul li a{
        margin: 0;  
    }
}

@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}

*/
@media screen and (max-width: 800px) {
    
    .page{
        margin: 0;
    }

   .logo{
    margin: 0px 0px 10px ;
    padding-left: 0;
   }

    .nav_top{
        display: none;
    }

    .container {
		flex-direction:column;
    }
    main {
        width: 100%;

    }
    .nav_left {
        width: 20%;
        margin: 0px;
    }
    aside {
        width: 100%;
    }
 
	
}
 
/*
@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}
 
	footer {
		justify-content:space-around;
	}
}*/