

@media (max-width: 600px)
{
    .nav_left{
        display: none;
    }
    .logo{
    display: none;
    }
      /* menu icon */
      
      .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }
      
      .menu-icon .navicon {
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }

     
      .menu-icon .navicon:before,
      .menu-icon .navicon:after {
        background:  #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .menu-icon .navicon:before {
        top: 5px;
      }
      
      .menu-icon .navicon:after {
        top: -5px;
      }
      
      /* menu btn */
     
      .menu-btn {
        display: none;
      }

      .nav-movil ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background: rgba(20, 21, 23, 0.9);
      }
      
      .nav-movil li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #ecbf17;
        text-decoration: none;
        color: #fff;
      }

      .nav-movil li a:hover{
          color: #ecbf17;
      }

      .nav-movil{
          position: absolute;
          margin-left: -70%;
      }
      
      .nav-movil li a:hover,
      .menu-icon:hover  {
        background-color: rgba(0, 0, 0, 0.4);
      }

      .menu-btn:checked ~ .nav-movil {
        width: auto;
        min-height: 100vh;
        margin: 0px;
        transition: all 0.3s;
       
      }
      
      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
        background:  #ecbf17;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
        background:  #ecbf17;
      }
      
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .container main{
        width: 100%;
      }
    
}
 
@media (min-width: 601px) {
.nav-movil,
#menu-btn {
    display: none;
}
}
