.nav_left{
    order:1;
    width: 25%;
    background-color: #141517;
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

.nav_left ul li a.active,
.nav_left li a:hover
{
    color: #ecbf17;
    transition: 0.5s;
}

.nav_left ul li a{
    font-size: 20px;
    padding: 15px 20px 15px 10px;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    display: block; 
    color: white;
}

.nav_left ul{
    text-align: left;
    display:inline-block;
    margin-top: 60px;
    padding-left: 0;
}

.asignatura{
    text-align: left;
    margin: 20px;
}