.nav_left{
    order:1;
    width: 25%;
    background: rgba(20, 21, 23, 0.8);
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

.nav_left ul li a.active,
.nav_left li a:hover
{
    color: #ecbf17;
    transition: 0.5s;
}

.nav_left ul li a{
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: 200;
    text-decoration: none;
    color: white;
    letter-spacing: .02em;
    text-align: center; 
}

.nav_left ul{
    padding: 0;
    text-align: center;
    margin-top: 40px;
}

.white-line{
    background-color: white;
    margin: 0 auto;
    width: 60%;
    height: 1px;
}

.asignatura{
    text-align: center;
    margin: 30px 20px 30px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
}

.nav_left .link-name{
    display: block;
    margin-top: 8px;
}