 body {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
    color: white;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  }

  .page{
      display: flex;
      flex-direction: column;
      margin: .5px 40px;
  }

  .container {
    order: 2;
    display:flex;
    margin: .5px 0;
    padding: 10px;
  }

  .nav_left,
  .container main,
  .container aside{
      padding: 20px;
      margin: 0px 4px;
  }

  .container aside,.nav_left,
  .container main,
  header{
    
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  }
  



.clearfix{
    clear: both;
}

.nav_top ul li,
.nav_left ul li {
    list-style: none;
}


/*

  @media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    .nav_top{
        display: none;
    }
    .nav_top.active{
        display: block;
        width: 100%;
    }
    .nav_top.active ul{
        display: block;  
    }
    .nav_top.active ul li a{
        margin: 0;  
    }
}

@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}
*/

