 body {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
 
  /* Texto en el centro */
  footer,
  aside {
    justify-content: center;
    align-items: center;
  }
 
  footer {
    height: 50px;
    position: relative;
    /*max-width: 1200px;*/
    margin: 20px 10px;
    padding: 10px;
  }
 
  .container {
    overflow: hidden;
    margin: .5px 0;
    position: relative;
   /* max-width: 1200px;*/
    margin: 20px auto;
    padding: 10px;
  }
 
  .container nav,
  .container aside {
    width: 25%;
    height: 100vw;
    
  }
 
  .container main {
    float: left;
    width: calc(50% - 16px);
    height: 100vw;
    margin: 0 8px;
  }
 
  .container nav {
    float: left;
  }
 
  .container aside {
    float: right;
  }

  .container aside,.container nav,
  .container main, footer,
  header{
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }


  
  /* Barra de navegacion */
  header{
    position: relative;
    /*max-width: 1200px;*/
    margin: 20px 10px;
    padding: 10px;
    
}

.logo
{
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

.nav_top{
    float: right;
}
.clearfix{
    clear: both;
}

.nav_top ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_top ul li,
.container nav ul li {
    list-style: none;
}
.nav_top ul li a{
display: block;
margin: 10px 0;
padding: 10px 20px;
text-decoration: none;
color: #262626;
}

.nav_top ul li a.active,
.nav_top ul li a:hover
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}

@media (max-width: 768px)
{
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    .nav_top{
        display: none;
    }
    .nav_top.active{
        display: block;
        width: 100%;
    }
    .nav_top.active ul{
        display: block;  
    }
    .nav_top.active ul li a{
        margin: 0;  
    }
}

/*Barra lateral*/
.asignatura{
    text-align: left;
    margin: 20px;
}

.container nav ul li a{
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    display: block; 
}

.container nav ul{
    text-align: left;
    display:inline-block;
    margin-top: 100px;
}


/*Main */

.box-image,
.box-video{
    display: flex;
}

.left-image{
    width: 30%;
    height: auto;
    margin: 40px 0px 0px 20px;
}
.left-image img{
    width: 100%;
    float:left;
}

.right-text,
.right-text-video{
    text-align: left;
}

.right-text h4,
.right-text-video h4{
    text-align: center;
}

.right-text,
.right-text-video {
    display:inline-block;
    vertical-align:middle;
    width:70%;
    margin: 10px 20px;
}

.right-text p,
.right-text-video p{
    font-size: 15px;
    text-align: justify;
}


.main-preview-player{
    width: 40%;
    height: auto;
    margin: 0px 20px 0px 0px;
}

/*
  .preview-player { color: #ffffff; }
  .preview-player .vjs-play-progress,
  .preview-player .vjs-volume-level { background-color: #4d90b5 }
  .preview-player .vjs-control-bar{ background: rgba(44,35,35,0.7)}
  .preview-player .vjs-slider { background: rgba(44,35,35,0.2333333333333333) }
  .preview-player .vjs-control-bar { font-size: 74% }

  */


.video-js{
    position: relative;
    width:100%;
    max-width: 100%;
    height: auto;
    margin: 40px 0px 0px 20px;
}


.vjs-default-skin .vjs-control-bar { 
    font-size: 99% ;
    background: #f4f4f4 !important;
    color: #069370;
}

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level{
background: #069370 !important;
}

.vjs-default-skin .vjs-slider{
    background: #033f30 !important;
}

.vjs-default-skin .video-js:hover .vjs-big-play-button{
background: rgba(0, 0, 0, .2) !important;
}

.vjs-default-skin .vjs-big-play-button {
    width: 80px !important;
    height: 80px !important;
    border: none !important;
    line-height: 8px !important;
    border-radius: 100% !important;
}

.line-dec {
    height: 3px;
    width: calc(100% - 40px) ;
    background: #069370;
    margin: 50px 20px 20px 20px;
    text-align: center;

}


