.question .respuestas button{
    padding: 10px 20px;
    margin: 10px auto;
    width: 100%;
    text-align: left;
}

.question{
    width: 100%;
    display: none;
}
.fin_de_cuestionario{
    padding: 10px 20px;
    margin-top: 80px;
    width: 400px;
    background-color: rgba(100, 51, 51);
    display: none;
}

.question > h2{
    margin: 10px 0px 50px 20px;
    color: rgba(255,255,255,0.7);
}

.question > h3{
    margin-left: 10px;
    color: rgba(255,255,255,0.7);
}

.question #siguiente{
    padding: 10px 20px;
    border: solid 1px #eee;
    width: 30%;
    text-align: center;
    margin: 25px auto 0 0;
}

.question > div{
    width: 80%;
    margin: auto;
}

.enunciado{
    color: white;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.respuestas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.show_all{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_all h3{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 90%;
    color: #eee;
    font-size: 15px;
    font-weight: 500;
}

#volver{
    padding: 0;
    border: none;
    margin: 5px 5% 20px auto;
    width: 30%;
    
}
.show_all button{
    width: 90%;
    padding: 5px;
}
.show_all button,
.respuestas button{
    margin: 5px 0 5px 0;
    padding: 5px;
    border: solid 1px #eee;
}