 /*Pie de pagina*/
  
 footer {
    position: relative;
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: .6em;
    height:50px;
    margin: 20px 0 0 0;
    background-color: #141517;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgba(255,255, 255, 0.5);
  }

  footer div{
      text-align: center;
      flex: 0 1 33%;
  }
  
  footer div a{
    color: rgba(255,255, 255, 0.5);
    height: 30px;
    padding-top: 20px;
    text-decoration: none;
    display: block; 
  }
  
  .line-vert {
    flex: 0 0 1px;
    height: 50px;
    width: 1px;
    background: white;
    opacity: 0.5;
    text-align: center;
  }

  .uc3m-logo{
      margin-top: -15px;
      height: 40px;
      opacity: 0.7;
  }

  footer div a:hover{
    color: rgba(255,255, 255, 0.9);
  }

  footer div a:hover .uc3m-logo{
      opacity: 1;
  }
  