main {
    order:2;
    width: 50%;
    margin: 0 10px;
    overflow:hidden;
    height:1%;
    background-color: #141517;
}

main h2{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
    letter-spacing: .15em;
    margin: 15px 0 0 0;
}

.box-image,
.box-video{
    display: flex;
    flex-direction:row;
    align-items: stretch;
    margin-bottom: 20px;
}

.left-image{
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-top: 30px;
    filter: grayscale(0.6);
    opacity: 0.7;
}

main .subject-theme:hover .left-image,
main .subject-theme:hover .left-video{
    filter: grayscale(0);
    opacity: 1;
}

main .subject-theme:hover .right-text h4, main .subject-theme:hover .right-text-video h4{
    color: rgba(233, 200, 80, 0.9);
}

main .subject-theme:hover .right-text p,
main .subject-theme:hover .right-text-video p{
    color: rgba(255, 255, 255, 0.9);
}

main .subject-theme:hover h2{
    color: white;
}


.left-video{
    width: 40%;
    height: 60%;
    object-fit: contain;
    margin-top: 30px;
    margin-right: 20px;
    filter: grayscale(0.6);
    opacity: 0.7;
  }


.right-text-video{
    width: 60%;
    text-align: left;

}

.right-text h4,
.right-text-video h4{
    padding: 0;
    margin-top: 30px;
    text-align: left;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: .2em;
    color: rgba(233, 200, 80, 0.5);

}


.line-dec {
    height: 1px;
    width: 100% ;
    background: #ecbf17;
    opacity: 0.5;
    text-align: center;
    margin: 3px 0;
}

.right-text p,
.right-text-video p{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
}