.foto_student img {
    width: 35px;
    height:35px; 
    margin-right: .5rem;
    border-radius: 50%;
    border-style: none;
    vertical-align: middle;
}
.foto_student{
    text-align: left;
}

.student{
    font-size: 15px;
    font-weight: 100;
    line-height : 25px;
}

.table_students{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    min-height: 10em;
    border-collapse: collapse;
    border-spacing: 2px;
}


thead {
    display: table-header-group;
    vertical-align: middle;
}

#participants {
    text-align: center;
}


#participants th {
    text-align: center;
    padding: 4px;
    display: table-cell;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #ecbf17;
}

#participants td {
    padding: 4px;
    vertical-align: middle;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.message{
    text-align: center; 
    vertical-align: middle;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,.2);
}






