@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import '../Fonts/style-morganite.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


body{
    min-height: 100vh;
    position: relative;
    padding-top: 30px;
    background-color: #1D1D1D;
}

body::before {    
    content: "";
    background-image: url('../images/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    z-index: -1;
}

body img.foto-pie{
    width: 230px;
    position: absolute;
    bottom: 0px;
    left: 72px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

body div.texto-pie{
    position: absolute;
    font-family: Morganite ExtraLight;
    color: white;
    letter-spacing: .15em;
    left:74px;
    bottom: 250px;
    z-index: 3;
    border-left: 3px solid white;
    padding-left: 10px;
}
body div.texto-pie p:first-child{
    font-size: 62px;
}

.evenly-spaced{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10% 0 10%;
    flex-wrap: wrap;
}

.evenly-spaced > *{
    flex: 1 1 0px;
    margin: 5px 5% 5px 5%;
    height: 100%;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    font-size: 18px;
    color: #eee;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 0 1px rgba(238, 238, 238, .1);
    margin: 1px;
}

a, h1, h2, h3, button, label, div{
    font-family: 'Rajdhani', sans-serif;
}

.container{
    width: 100%;
}


.back{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    box-shadow: none;
}

.back i.fa-chevron-circle-left{
    font-size: 25px;
    color:rgba(238, 238, 238, .7);
    z-index: 2;
}

.back i.fa-chevron-left{
    z-index: 4;
    position: relative;
    left: 15px;
}

.back i:hover{
    color:rgba(238, 238, 238, .9);
}