@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
@import '../Fonts/style-morganite.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    position: relative;
    padding-top: 30px;
    background-color: #1D1D1D;
}

p, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

.center-text{
    text-align: center;
}

body::before {    
    content: "";
    background-image: url('../images/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
    z-index: -1;
}

body img.foto-pie{
    width: 230px;
    position: absolute;
    bottom: 0px;
    left: 72px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

body div.texto-pie{
    position: absolute;
    color: white;
    letter-spacing: .15em;
    left:74px;
    bottom: 250px;
    z-index: 3;
    border-left: 3px solid white;
    padding-left: 10px;
}

body div.texto-pie p:nth-child(2){
    margin-top: 5px;
    font-size: 12.5px;
}
body div.texto-pie p:nth-child(3){
    font-size: 13px;
}

.carousel{
    color: white;
    font-size: 20px;
    border: solid 1px white;
    width: 50%;
    margin-left: 40%;
    margin-top: 100px;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}

.carousel>*{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.pdf-download{
    width: 100px;
    
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.carousel>* img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: 0;
}

.carousel .slick-dots{
    position: relative;
    top: 10px;
    height: 20px;
}

.carousel-title{
    color: white;
    padding: 5px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    font-weight: 400;
}

#carousel-title-darkened{
    background-color:rgba(0, 0, 0, .6);
}


body div.texto-pie p:first-child{
    font-size: 62px;
    font-family: 'Morganite ExtraLight';
}

.evenly-spaced{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10% 0 10%;
    flex-wrap: wrap;
}

.evenly-spaced > *{
    flex: 1 1 0px;
    margin: 5px 5% 5px 5%;
    height: 100%;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    font-size: 18px;
    color: #eee;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 0 1px rgba(238, 238, 238, .1);
    margin: 1px;
}

a, h1, h2, h3, button, label, div{
    font-family: 'Rajdhani', sans-serif;
}

.container{
    width: 100%;
}

.back{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    box-shadow: none;
}

.back i.fa-chevron-circle-left{
    font-size: 25px;
    color:rgba(238, 238, 238, .7);
    z-index: 2;
}

.back i.fa-chevron-left{
    z-index: 4;
    position: relative;
    left: 15px;
}

.back i:hover{
    color:rgba(238, 238, 238, .9);
}